body{
    background: aqua;

}
/* /* #inp-1{
    direction: rtl;
}

#inp-2{
    direction: rtl;
} */

#place{
    float:right;
}  

/* #form-horizintal{
    direction: rtl;
} */

/* #exampleRadios1{
    float: right;
} */

#footer{
    margin-top:0px;
}
form{
    background-color: #fff;
    margin-top: 50px;
}

.form-container{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px;  
}

nav{
    direction: rtl;
}

.nav-item{
    padding-right: 5px;
    margin-right: 150px;
    font-size: 15pt;
}



.footer-top {  margin-top:60px; padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; }


.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }


.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    
  }
  
  .banner-heading {
    animation-name: anim;
    animation-duration: 2s;
  }
  
  .banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  .mission {
    background: #151f20;
    margin-top: 0px;
  }
  .mission-2 {
    background: #21c4d3;
    margin-top: 0px;
  }
  
  .underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
  }

  .img_back img{
    height: 500px;
    width: 100%;
  }



  
  